body{
    background-color: gray;
    font-family: Calibri, Serif;
}

main{
    max-width: 1300px;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    padding: 0 50px;
}

h2{
    font-weight: lighter;
    font-size: 2em;
}

ul{
    list-style-type: none;
    font-size: 1.5em;
}

header li{
    display: inline;
    margin-left: 50px;
    font-weight: bolder;
}

section h2{
    text-align: center;
    display: block;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.s1 img{
    width: 40%;
    border: 10px solid white;
    
}

.s3 img{
    width: 100%;
    border: 5px solid white;
    overflow: hidden;
}

